main {
  display: flex;
  width: 511px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-left: 5%;
  margin-top: 10px;
}

.envie-seu-pedido {
  color: var(--orange-8, #e8590c);
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.div-identificacao {
  display: flex;
  width: 511px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.div-lg-identificacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.div-lg-identificacao h4 {
  color: var(--other-black, #000);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.inputs-identificacao {
  display: flex;
  width: 511px;
  align-items: flex-start;
  gap: 16px;
  justify-content: space-between;
}

.input-name,
.inputs-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.inputs-identificacao label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}

.inputs-identificacao input[type="text"],
.inputs-identificacao input[type="email"] {
  flex: 1 0 0;
  color: var(--other-black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  border: 1px solid var(--gray-4, #ced4da);
  border-radius: 8px;
  width: 230px;
}

.tamanho {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.div-opcoes-lanches {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.lanche {
  display: flex;
  height: 69.369px;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid var(--gray-4, #ced4da);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.tamanho-lanche {
  display: flex;
  align-items: center;
  gap: 16px;
}
.tamanho-lanche div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.opcao-lanche {
  margin: 0px;
}

.opcao-lanche p {
  color: var(--other-black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  margin: 0px;
}

.preco {
  color: var(--orange-8, #e8590c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  margin: 0px;
}

.quantidade {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-menos-lanchao,
.btn-menos-lanche,
.btn-menos-lanchinho,
.btn-mais-lanchao,
.btn-mais-lanche,
.btn-mais-lanchinho,
.btn-menos-ovo,
.btn-mais-ovo,
.btn-menos-abacaxi,
.btn-mais-abacaxi {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  flex-shrink: 0;
  background-color: white;
}

.mostrador-itens {
  width: 52px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.adicionais {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.div-adicionais {
  display: flex;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid var(--gray-4, #ced4da);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.opcao-adicional {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.nome-opcional {
  color: var(--other-black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  margin: 0px;
}

.preco-opcional {
  color: var(--orange-8, #e8590c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  margin: 0px;
}

.molhos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.preco-molho {
  color: var(--orange-8, #e8590c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
}

.opcoes-molhos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.opcoes-molhos label {
  color: var(--other-black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.div-tipo-molho {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.batata-frita {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.radio-batata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

input[type="radio"] {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.radio-batata label {
  color: var(--other-black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.radio-batata div {
  display: flex;
  border-radius: 32px;
  align-items: flex-start;
  gap: 10px;
}

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

textarea {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #ced4da);
  resize: none;
  color: var(--gray-4, #797b7d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
  height: 200px;
  width: 350px;
}

.termo-aceite {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}
.termo-aceite input {
  display: flex;
  border-radius: 2px;
  align-items: flex-start;
  gap: 10px;
}

.termo-aceite label {
  color: var(--other-black, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.botoes {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin: 30px 0px;
}

.btn-enviar {
  display: flex;
  padding: 1px 22px;
  border-radius: 8px;
  border: 1px solid var(--orange-8, #e8590c);
  background: var(--orange-8, #e8590c);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--other-white, #fff);
  /* components/button/md */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}

.btn-recuperar {
  display: flex;
  padding: 1px 22px;
  border-radius: 8px;
  border: 1px solid var(--orange-8, #e8590c);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--orange-8, #e8590c);
  /* components/button/md */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  background-color: white;
}

.canto-laranja {
  width: 421.736px;
  height: 500.431px;
  border-radius: 0px 0px 0px 260px;
  background: var(--orange-8, #e8590c);
  flex-shrink: 0;
  position: absolute;
  top: 10%;
  right: 10%;
}

.principal {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.ticket {
  display: none;
  width: 405px;
  border-radius: 20px;
  background: var(--orange-0, #fff4e6);
  flex-shrink: 0;
  position: absolute;
  top: 20%;
  right: 20%;
  color: var(--other-black, #000);
  font-family: inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}

.ticket-id {
  color: var(--orange-8, #e8590c);
  font-family: inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  margin: 10px 0px;
  text-transform: uppercase;
}

.itens-lista {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.itens-lista ol {
  list-style-type: none;
}

.itens-lista h3 {
  text-align: right;
  margin-right: 40px;
}
